<!DOCTYPE html>
<html>
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">
 
<!-- Navbar -->
<div class="w3-top" style="background-color:rgba(0, 153, 94, 0.8)">
 <div class="w3-bar  w3-left-align w3-large" style="background-color:rgba(0, 153, 94, 0.8)">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" style="background-color:rgba(0, 153, 94, 0.8)" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home w3-margin-right" style="background-color:rgba(0, 153, 94, 0.8)"></i></a>
 </div>
</div>
 
<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>
 
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="/Assets/profile.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{first}}&nbsp;{{last}}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{location}}</p>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> {{email}}</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> {{phone}}</p>
         <p><i class="fa fa-thumbs-up fa-fw w3-margin-right w3-text-theme"></i> @{{username}}</p>

        </div>
      </div>
      <br>
     
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Applications</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>1. Best Buy</p>
            <p>2. Sam's Club</p>
            <p>3. Google</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Interviews</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>1. Facebook</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Endorsements</button>
          <div id="Demo3" class="w3-hide w3-container">
 
          </div>
        </div>      
      </div>
      <br>
     
      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Skills</p>
          <p>
            {{skills}}
 
          </p>
        </div>
      </div>
      <br>
     
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
   
    <!-- End Left Column -->
    </div>
   
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h3>Experience</h3>
        <hr class="w3-clear">
        <div class="experience">
            <span class="w3-right w3-opacity">Toronto, Ontario</span>
          <h5><b>McDonald's</b><br>Manager</h5>
          <ul>
              <li>Demonstrated excellent customer service and managerial skills.</li>
              <li>Developed leadership and organizational skills by overseeing a team of 30 employees.</li>
              <li>Conducted training for over 25 employees to ensure standards and principles of company were followed.</li>
          </ul>  
        </div>
        <div class="experience">
            <span class="w3-right w3-opacity">Brampton, Ontario</span>
          <h5><b>Home Depot</b><br>Customer Service Representative</h5>
          <ul>
              <li>Dealt with customer complaints and concers ensuring that all needs were met.</li>
              <li>Awarded employee of the month for Jan 2015.</li>
          </ul>  
        </div>  
      </div>
     
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
      <h3>Questionnaire</h3>
        <hr class="w3-clear">
        <div class="question1">
          <h5><b>1. Tell us about yourself.</b></h5>
          <p>{{q1}}</p>
        </div>
        <div class="question2">
          <h5><b>2. How has being incarcerated changed you?</b></h5>
          <p>{{q2}}</p>
        </div>
        <div class="question3">
          <h5><b>3. Short/Long term goals?</b></h5>
          <p>{{q3}}</p>
        </div>
        <div class="question4">
          <h5><b>4. Where do you see yourself in 10 years?</b></h5>
          <p>{{q4}}</p>
        </div>
        <div class="question5">
          <h5><b>5. How do you plan to transition back into daily civilian life?\</b></h5>
          <p>{{q5}}</p>
        </div>
        <div class="question6">
          <h5><b>6. Have you completed any unique programs/workshops? If yes, how have they contributed to your personal
            outlook/attitude?</b></h5>
          <p>{{q6}}</p>
        </div>
        <div class="question7">
          <h5><b>7. Why do you believe you made mistakes in the past and how will you prevent yourself from making mistakes
            again.</b></h5>
          <p>{{q7}}</p>
        </div>
        <div class="question8">
          <h5><b>8. What activities/hobbies do you plan on taking up outside of work?</b></h5>
          <p>{{q8}}</p>
        </div>
        <div class="question9">
          <h5><b>9. What is your outlook on the criminal justice system?</b></h5>
          <p>{{q9}}</p>
        </div>
        <div class="question10">
          <h5><b>10. Is there anything else important that people should know about you?</b></h5>
          <p>{{q10}}</p>
        </div>  
      </div>  
     
    <!-- End Middle Column -->
    </div>
   
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p><b>Interview Requests</b></p>
          <div class="Interview">
          <img src="/Assets/canadian.png" alt="Avatar" style="width:50%"><br>
          <span>Canadian Tire</span><br>
          <span>Assistant Manager</span><br>
          <span>Toronto, Ontario</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          </div>
            <div class="Interview">
          <img src="/Assets/construction.png" alt="Avatar" style="width:50%"><br>
          <span>Bob's Construction</span><br>
          <span>Machinery Operator</span><br>
          <span>Columbus, Ohio</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          </div>
            <div class="Interview">
          <img src="/Assets/chipotle.png" alt="Avatar" style="width:50%"><br>
          <span>Chipotle</span><br>
          <span>Dishwasher</span><br>
          <span>Phoenix, Arizona</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          </div>
        </div>
      </div>
      <br>
     
   
    <!-- End Right Column -->
    </div>
   
  <!-- End Grid -->
  </div>
 
<!-- End Page Container -->
</div>
<br>
 
<!--
 Footer
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>
-->
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}
 
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
 
</body>
</html>